<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>SocialLoop | Home</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Rubik", sans-serif;
            scroll-behavior: smooth;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }


        .home {
            display: flex;
            height: 100vh;
            flex-direction: column;
            overflow-y: scroll;
        }

        .home::-webkit-scrollbar {
            display: none;
        }

        .postArea {
            width: 80vw;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            /* margin-top: 4rem; */
            padding: 4rem 0rem;
            margin-left: auto;
            position: relative;
        }

        .post {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 400px;
            height: 500px;
            box-shadow: 0px 0px 1px 0px;
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
        }

        #delete {
            position: absolute;
            right: 5px;
            top: 5px;
            /* background-color: aquamarine; */
        }



        #delete button:hover {
            scale: 1.12;
            color: red;
            transition: all 0.3s ease-in-out;
        }

        .post-img {
            position: relative;
            width: 100%;
            height: 85%;
        }

        .post-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .like-comment-section {
            position: relative;
            display: flex;
            gap: 10px;
            /* background-color: yellow; */
            padding: 5px;
            align-items: center;
        }

        .like-comment-section form button {
            background-color: white;
            border: none;
            cursor: pointer;
        }

        .like-comment-section span {
            cursor: pointer;
        }

        .post-description {

            padding: 10px;
            overflow-y: scroll;
        }

        .post-description::-webkit-scrollbar {
            display: none;
        }

        .post-description p {
            font-size: 0.8rem;
            font-weight: 200;
        }

        .specificPost {
            position: fixed;
            z-index: 2;
            display: none;
        }

        @media (max-width:900px) {
            .postArea {
                width: 100vw;
                padding-top: 8rem;
            }

        }

        @media(max-width:500px) {
            .post {
                width: 99vw;
                height: 500px;
            }
        }
    </style>
</head>

<body>
    <div class="home">
        <%- include('./partials/sideMenuBar',{user}) %>
            <div class="postArea">

                <% post.forEach(function(post){ %>

                    <div class="post">
                        <div class="post-img">
                            <img src="<%= post.postImage %>" alt="">
                        </div>
                        <div class="like-comment-section">
                            <form action="/user/post/like/<%= post._id %>" method="post">
                                <% if(post.likedBy.includes(user.userId)){ %>
                                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                            viewBox="0 0 24 24" width="24px" fill="#ff0000">
                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                            <path
                                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                        </svg></button>
                                    <% }else{ %>
                                        <button type="submit"><span
                                                class="material-symbols-outlined">favorite</span></button>
                                        <% } %>
                            </form>

                            <a href="/comment/<%= post._id %>" id="commentIcon" style="color: black;"><span
                                    class="material-symbols-outlined">mode_comment</span></a>

                            <span>
                                <p style="font-weight: 500; font-size: 0.8rem;">Liked by <%= post.likedBy.length %>
                                        people</p>
                            </span>
                            <form action="/user/post/delete/<%=post._id%>?_method=DELETE" method="post" id="delete">
                                <%if(loggedInUserId.toString() === post.createdBy.toString()){ %>
                                    <button type="submit"><span class="material-symbols-outlined">delete</span></button>
                                <% } %>
                            </form>
                        </div>
                        <div class="post-description">
                            <p>
                                <%= post.description %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </div>

</body>

</html>